*.aux
*.log
*.synctex.gz
*.cmo
*.cmi
*.cmx
*.exe
*.o
*.class
!./compiler/bild_lib/*.class
parser.ml parser.mli
scanner.ml
bild
./compiler/tests/failures/*.out
./compiler/tests/failures/*.diff
.DS_Store
